@model List<Book>

@{
    ViewData["Title"] = "Book";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul> @foreach (Book eachBook in Model)
    {
    <li>@eachBook.Id</li>
    <li>@eachBook.Title</li>
    <li>@eachBook.Author</li>
    }
    </ul>
    </div> *@

<table class="table">
    <thead>
        <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
            <th scope="col">Total Copies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book eachBook in Model)
        {
            <tr>
                <th scope="row">@eachBook.Id</th>
                <td>@eachBook.Title</td>
                <td>@eachBook.Author</td>
                <td>Total Copies</td>
            </tr>
        }
    </tbody>
</table>